* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 875px;
    width:1440px;
}

/* Make the main to be gird with 2 rows/ 4 columns*/
main {
    width: 80%;
    margin: 12%;
    display: grid;
    grid-template: auto auto/ repeat(4, minmax(270px, 25%));
    grid-gap: 25px;
}


/*Formating all cells*/
section {
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px hsl(217, 19%, 35%);
}


/* Formating daniel cell ↓↓↓↓*/
.daniel {
    grid-area: 1/1 / 2 / 3;
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

/* Aligned the pattern-quotation*/
svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 65%;
}

.daniel .aside {
    position: relative;
    z-index: 1;
}

.aside {
    padding-top:10px;
}
/* ************************************ */

/* Formating jonathan cell ↓↓↓↓*/
.jonathan {
    grid-area: 1/3 / 2 / 4;
    background-color: hsl(217, 19%, 35%);
}

/* ************************************ */


/* Formating jeanette cell ↓↓↓↓ */
.jeanette {
    grid-area: 2/1 /3/2;
    background-color: hsl(0, 0%, 100%);
}

/* ************************************ */


/* Formating patrick cell ↓↓↓↓ */
.patrick {
    grid-area: 2/2 /3/4;
    background-color: hsl(219, 29%, 14%);
}

/* ************************************ */


/* Formating kira cell ↓↓↓↓ */
.kira {
    grid-area: 1/4/3/5;
    background-color: hsl(0, 0%, 100%);
}

/* ************************************ */


/* Make image rounded */
img {
    width: 40px;
    border-radius: 40px;
}

/* Make all header(Contains the image and name) to be flex */
.header {
    display: flex;
}

/* Determines margin and font weight of the text content in header */
div>* {
    margin: 2px 0 0 20px;
    font-size: 13px;
    font-weight: 500;

}

/* Determines font weight and size of paragraphs(Comments of persons) inside aside div*/
.aside p {
    font-size: 18px;
    font-weight: 600;

}

.article {
    font-size: 13px;
    padding: 10px 15px;
}

/* Change the formating of main(grid), and cells(section tag), 
and align pattern-quotation icon when width is less or equal 374px*/
@media screen and (max-width:374px) {
    body{
        width:374px;
    }
    main {
        width:90%;
        margin:15% 20px;
        display: block;

    }

    section {
        margin-bottom: 25px;
    }

    svg {
        left: 210px;
    }

}

@media screen and (max-width:480px) and (min-width:375px) {
    body{
        width:480px;
    }
    main {
        width:90%;
        margin:10% 20px;
        display: block;

    }

    section {
        margin-bottom: 25px;
    }

    svg {
        left: 300px;
    }

}
