body {
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* Make the section to be gird with 2 rows/ 4 columns*/
section {
    width: 80%;
    height: 875px;
    margin: 10% 100px;
    display: grid;
    grid-template: 40% 40%/ repeat(4, minmax(270px, 25%));
    grid-gap: 25px;
}


/*Formating all cells*/
main {
    padding: 30px;
    border-radius: 15px;
}


/* Formating daniel cell ↓↓↓↓*/
.daniel {
    grid-area: 1/1 / 2 / 3;
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

/* Aligned the pattern-quotation*/
svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 65%;
}

.daniel>aside {
    position: relative;
    z-index: 1;
}

/* ************************************ */

/* Formating jonathan cell ↓↓↓↓*/
.jonathan {
    grid-area: 1/3 / 2 / 4;
    background-color: hsl(217, 19%, 35%);
}

/* ************************************ */


/* Formating jeanette cell ↓↓↓↓ */
.jeanette {
    grid-area: 2/1 /3/2;
    background-color: hsl(0, 0%, 100%);
}

/* ************************************ */


/* Formating patrick cell ↓↓↓↓ */
.patrick {
    grid-area: 2/2 /3/4;
    background-color: hsl(219, 29%, 14%);
}

/* ************************************ */


/* Formating kira cell ↓↓↓↓ */
.kira {
    grid-area: 1/4/3/5;
    background-color: hsl(0, 0%, 100%);
}

/* ************************************ */


/* Make image rounded */
img {
    width: 40px;
    border-radius: 40px;
}

/* Make all header(Contains the image and name) to be flex */
header {
    display: flex;
}

/* Determines margin and font weight of the text content in header */
div>* {
    margin: 2px 0 0 20px;
    font-weight: 500;

}

/* Determines font weight and size of paragraphs(Comments of persons) inside aside section*/
aside>p {
    font-size: 24px;
    font-weight: 600;

}


/* Change the formating of section(grid), and cells(main tag), 
and align pattern-quotation icon when width is less or equal 374px*/
@media screen and (max-width:374px) {
    section {
        width: 90%;
        margin: 50px auto;
        display: block;

    }

    main {
        width: 270px;
        margin-bottom: 25px;
    }

    svg {
        left: 210px;
    }

}